@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


html {
    height:100%;
  }
  
header{
  width: 200px;
  height: 200px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 250px;
}
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,  #47277f 50%, #c11d57  50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    top: 15%;
    padding: 31px 5px;
    width: 753px;
    margin: -321px 0px;
  }
  
  h1 {
    font-family: 'Ranchers', cursive;
    padding: 21px 0;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .w3-bar-item w3-button{

  }


  .anav {
    background-color: #ff6c3d;
    box-shadow: 0 5px 0 #ff8636;
    color: white;
    padding: 14px 17px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
  }
  
  .anav:hover {
    background-color: #1fa5ff;
    cursor: pointer;
  }
  
  .anav:active {
    box-shadow: none;
    top: 5px;
  }
  

/******/

  *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    /* flex: 0 1 700px; */
    /* margin: auto; */
    padding: 10px 10px;
    width: 100%;
    height: 500px;
    /* margin: 230px 243px;*/
  }
  
  .screen {
    position: relative;
    background: #faf2e9a1;;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f96;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
    width: 356px;
    height: 350px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #8b3e80;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #542a98;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ff6c3d;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #ffc926;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
  /*************************/
  

.trail {
	width: 100vw;
	height: 600vh;
	position: relative;
	/*background: url(https://raw.githubusercontent.com/ArtemKolishchak/Animated-Wavy-Background/master/bg.jpg);*/
  background-image: url(https://www.publicdomainpictures.net/pictures/320000/velka/abstrakt-kunst-hintergrund-bunt-1579283741lcl.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.trail .wave {
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(https://raw.githubusercontent.com/ArtemKolishchak/Animated-Wavy-Background/master/wave.png);
	-webkit-animation: animate 10s linear infinite;
	        animation: animate 10s linear infinite;
}

.trail .wave:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(https://raw.githubusercontent.com/ArtemKolishchak/Animated-Wavy-Background/master/wave.png;)
	opacity: 0.6;
	-webkit-animation-delay:  -5s;
	        animation-delay:  -5s;
	-webkit-animation: animate 20s linear infinite;
	        animation: animate 20s linear infinite;
}

.trail .wave:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(https://raw.githubusercontent.com/ArtemKolishchak/Animated-Wavy-Background/master/wave.png);
	opacity: 0.4;
	-webkit-animation: animate-reverse 10s linear infinite;
	        animation: animate-reverse 10s linear infinite;
}

@-webkit-keyframes animate {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1360px;
	}
}

@keyframes animate {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1360px;
	}
}

@-webkit-keyframes animate-reverse {
	0% {
		background-position: 1360px;
	}
	100% {
		background-position: 0;
	}
}

@keyframes animate-reverse {
	0% {
		background-position: 1360px;
	}
	100% {
		background-position: 0;
	}
}
img{
    display: block;
    max-width:230px;
    max-height:250px;
    width: auto;
    height: auto;
    border: 4px solid #83707b;
    border-radius: 15px;
}
video{
    display: block;
    width: 250px;
    height: 250px;
}

*{
    font-family: 'Ranchers', cursive;
}